<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988287623865-s9r84akogi8a8kmkrq76ejoa1klf7qlt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988287623865-s9r84akogi8a8kmkrq76ejoa1klf7qlt</string>
	<key>API_KEY</key>
	<string>AIzaSyA9KxKrhpQC7C4EqeP67zEIUTPRbjKfEMg</string>
	<key>GCM_SENDER_ID</key>
	<string>988287623865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.sga.demo</string>
	<key>PROJECT_ID</key>
	<string>sga-2609</string>
	<key>STORAGE_BUCKET</key>
	<string>sga-2609.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988287623865:ios:6bb9896087b88b5b687168</string>
</dict>
</plist>